table.center {
    margin-left:auto;
    margin-right:auto;
}

.center:nth-child(1) {
  background: gold;
}

.center:nth-child(2) {
  background: #c0c0c0;
}

.center:nth-child(3) {
  background: #cd7f32;
}

th {
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;
}
 
td {
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;
}
