ul{
    background-color:lightgreen;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}
li a{
    display: block;
    padding:  25px 20px;
    text-align: center;
    color: black;
}

html{
    background-color: green;
}

h1{
    color: green;
    text-align: center;
}

.centerimage{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button.SettingButton{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 190px
}

.dark-mode {
    background-color: black;
    color: white;
  }



p{
    color: green;
}
  
#landing-page{
    background-size:cover;
    padding:0 30px;
    height:105vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background-position:center;
    background-image:url('../views/blackjackace.png');
  }


  body{
    color:black;
    margin:0;
    font-family: 'Times New Roman', Times, serif, "Gill Sans Extrabold", sans-serif;
    font-size:17px;
    line-height:1.9;
  }
  

  #landing-page p{
    font-size:60px;
  }
  
  #intro{
    text-align:center;
    padding:20px;
    background:lightgreen;
    color:white;
  }

  #landing-page h1{
    font-size:50px;
  }
  
  
  #intro-2{
    padding:20px;
    text-align:center;
    background:darkgreen;
    color: white;
  }
  
  #intro-3 .feature-2{
    background:darkgreen;
    color: white;
  }

  #intro-3{
    display:flex;
  }
  
  #intro-3 div{
    padding:20px;
  }
  
  #intro-3 .feature-1, #intro-3 .feature-3{
    background:darkgreen;
    color:white;
  }
  