<%- include('../partials/header.html') %>
<body>
    <form method="DELETE" action="deleteAccount">
        <div class="form-group pad-nav container">
            <labal>Email</labal>
            <input type="text" placeholder="email" name="email" class="form-control"> 
        </div>
        <div class="form-group container">
            <label>Password</label>
            <input type="text" placeholder="password" name="password" class="form-control">
        </div>
        <div class="form-group container">
            <label>Confirm Password</label>
            <input type="text" placeholder="password" name="password" class="form-control">
        </div>
        <div>
        <button type="submit">Submit</button>
        </div>
    </form>

</body>