<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Page</title>

    <link rel="stylesheet" href="../CSS/Main.css">

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="Main.html">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="CareerMode.html">Career Mode</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="tutorialMode.html">Tutorial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="leaderboard.html">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="History.html">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="help.html">Help Page</a>
                </li>
            </ul>
        </div>
    </nav>
    <audio controls autoplay>
        <source src="../views/impossible.mp3" type="audio/mpeg">
        Your browser isn't supported.
    </audio>
</head>
<body>
<section id="intro">
    <h3>Navigate to this page to read the rules of blackjack</h3>
    <a href="https://bicyclecards.com/how-to-play/blackjack/" onclick="myFunction()">Bicycle: The rules of Black Jack</a>
</section>
<section id="intro-2">
    <h3>Navigate to this page to watch a video of how to play blackjack</h3>
    <a href="https://youtu.be/eyoh-Ku9TCI" onclick="myFunction()">How to play Black Jack</a>
</section>
<section id="intro-4">
    <h3>Get the help you need </h3>
    <a href="https://www.ncpgambling.org/help-treatment/national-helpline-1-800-522-4700/" onclick="myFunction()">Gambling Addiction? Get help website!</a>
    <p>Call: 1-800-522-4700</p>
</section>

<script>
    function myFunction() {
        alert("You are about to navigate away from this page!");
    }
</script>

</body>
</html>