<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Jack History Page</title>

    <link rel="stylesheet" href="../CSS/Main.css">
    <link rel="stylesheet" href="../CSS/Leaderboard.css">
    <link rel="stylesheet" type="text/css" href="../CSS/GameCSS.css">
    <script type="text/javascript" src="../Javascript/leaderboard.js"></script>

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="Main.html">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="CareerMode.html">Career Mode</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="tutorialMode.html">Tutorial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="leaderboard.html">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="History.html">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="help.html">Help Page</a>
                </li>
            </ul>
        </div>
    </nav>
</head>
<audio controls autoplay>
    <source src="../views/impossible.mp3" type="audio/mpeg">
  Your browser isn't supported.
  </audio>
<body>
    <h1 style="color:black">History</h1><br>
    <p>  &emsp; This origin of Blackjack dates back to around the 1700's although it is still dipsuted. What is agreed upon however, is that it originated in France. The game got its meaning
        from the french word "Vingt-et-Un" which mean twenty-one. The game was popular at the french court during the reign of King Louis XV. Later in the 18th century,
        the game became popular in the American colonies and soon enough black jack started showing up at gambling venues in places like New Orleans.  </p>
</body>
</html>
