<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Jack Change Leaderboard Page</title>

    <link rel="stylesheet" href="../CSS/Main.css">
    <link rel="stylesheet" href="../CSS/Leaderboard.css">
    <script type="text/javascript" src="../Javascript/leaderboard.js"></script>

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="Main.html">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="CareerMode.html">Career Mode</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="tutorialMode.html">Tutorial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="leaderboard.html">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="settings.html">Settings</a>
                </li>
            </ul>
        </div>
    </nav>
</head>

<body>
    <h1 style="color:black">Leaderboard</h1><br>

    <table class="center">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Wins</th>
        </tr>
        <tr>
            <td id="Slot1Name"></td>
            <td id="Slot1LName"></td>
            <td id="Slot1Wins"></td>

        </tr>
        <tr>
            <td id="Slot2Name"></td>
            <td id="Slot2LName"></td>
            <td id="Slot2Wins"></td>

        </tr>
        <tr>
            <td id="Slot3Name"></td>
            <td id="Slot3LName"></td>
            <td id="Slot3Wins"></td>

        </tr>
        <tr>
            <td id="Slot4Name"></td>
            <td id="Slot4LName"></td>
            <td id="Slot4Wins"></td>

        </tr>
        <tr>
            <td id="Slot5Name"></td>
            <td id="Slot5LName"></td>
            <td id="Slot5Wins"></td>

        </tr>

    </table>
</body>
</html>
