<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../CSS/Login.css">
    <link rel="stylesheet" href="../CSS/Main.css">
</head>
<ul>
    <li><a href= "Main.html">Homepage</a></li>
    <li><a href= "Login.html"><strong>Login</strong></a></li>
    <li><a href= "">Tutorial</a></li>
    <li><a href= "">Career Mode</a></li>
    <li><a href= "">Leaderboard</a></li>
    <li><a href= "">Settings</a></li>
</ul>
<h1>BlackJack Stars Login</h1>
<div class="box">
    <div class="form-box">
<form>
  <div class="Login">
    <label for= "Username">Username: </label>
    <input type="Username" id = "Username" name= "Username"><br><br>
    <label for= "Password">Password:   </label>
    <input type="Password" id = "Password" name= "Password"><br><br>
    <label for= "Remember Me">Remember Me    </label>
    <input type="checkbox" id = "Remember Me"><br><br>
    <label for= "Forgot Password"><a href= "">Forgot Password?    </a></label>
    <div class="LoginButton">
    <button class="Login">Login</button>
</div>
  </div>
</form>
</div>
</div>



</html>