<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Main.css">
</head>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="Main.html">Homepage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="CareerMode.html">Career Mode</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Tutorial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="Login.html">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="settings.html">Settings</a>
            </li>
        </ul>
    </div>
</nav>
<h1>Welcome to BlackJack Stars!</h1>
<body>
<img src="blackjack-game.png" alt="game-preview" class="centerimage" width="900" height="600">


</body>

<footer>

</footer>

</html>
