<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Main.css">
    <link rel="stylesheet" type="text/css" href="../CSS/GameCSS.css">
</head>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="Main.html">Homepage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="CareerMode.html">Career Mode</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="tutorialMode.html">Tutorial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="Leaderboard.html">Leaderboard</a>
            </li>
        </ul>
    </div>
</nav>
<audio controls autoplay>
  <source src="../views/impossible.mp3" type="audio/mpeg">
Your browser isn't supported.
</audio>
<header id="landing-page">
    <h1>Welcome to BlackJack Stars!</h1>
    <p>An interactive Black Jack game free to play! </p>
  </header>
  <section id="intro">
    <p2>This application was developed by Nick, Niranth, Kyle, and Ivan.</p2>
  </section>
  <section id="intro-2">
    <p2>Various features that our BlackJack application contains</p2>
  </section>
  <section id="intro-3">
    <div class="feature-1">
      <p2>A dark mode feature which is available in the settings section.</p2>
    </div>
    <div class="feature-2">
      <p2>A leaderboard that allows users to compete against each in other in terms of wins.</p2>
    </div>
    <div class="feature-3">
      <p2>A tutorial mode that allows you to practice with suggestions/hints before competing in the career mode.</p2>
    </div>
  </section>
<footer>

</footer>

</html>
