<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Main.css">
</head>
<ul>
    <li><a href= "Main.html"><strong>Homepage</strong></a></li>
    <li><a href= "Login.html">Login</a></li>
    <li><a href= "">Tutorial</a></li>
    <li><a href= "">Career Mode</a></li>
    <li><a href= "">Leaderboard</a></li>
    <li><a href= "">Settings</a></li>
</ul>
<h1>Welcome to BlackJack Stars!</h1>
<body>
<img src="blackjack-game.png" alt="game-preview" class="centerimage" width="900" height="600">


</body>

<footer>

</footer>

</html>
