<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup Page</title>
    <link rel="stylesheet" href="../CSS/Login.css">
    <link rel="stylesheet" href="../CSS/Main.css">

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="Main.html">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Career Mode</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tutorial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="Login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="settings.html">Settings</a>
                </li>
            </ul>
        </div>
    </nav>
</head>
<body>
    <div class="box">
        <div class="form-box">
            <form>
                <div class="form-group pad-nav container signup">
                    <labal for="Email" >Email</labal>
                    <input type="text" placeholder="email" name="email" id="Email" class="form-control"><br>
                </div>
                <div class="form-group container signup">
                    <label for="firstName">First Name</label>
                    <input type="text"  name="firstName" id="firstName" class="form-control"><br>
                </div>
                <div class="form-group container signup">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName" class="form-control"><br>
                </div>
                <div class="form-group container signup">
                    <label for="Password">Password</label>
                    <input type="Password" name="Password" id="Password" class="form-control"><br>
                </div>
                <div class="form-group container signup">
                    <label for="CPassword">Confirm Password: </label>
                    <input type="Password" name="Cpassword" id="CPassword" class="form-control"><br>
                </div>
            </form>
        </div>
    </div>
</body>
</html>