<%- include('../partials/header.ejs') %>
<body>
    <form method="POST" action="signup">
        <div class="form-group pad-nav container">
            <labal>Email</labal>
            <input type="text" placeholder="email" name="email" class="form-control"> 
        </div>
        <div class="form-group container">
            <label>First Name</label>
            <input type="text" placeholder="first name" name="first name" class="title-pad form-control">
        </div>
        <div class="form-group container">
            <label>Last Name</label>
            <input type="text" placeholder="first name" name="last name" class="form-control">
        </div>
        <div class="form-group container">
            <label>Password</label>
            <input type="text" placeholder="password" name="password" class="form-control">
        </div>
        <div class="form-group container">
            <label>Confirm Password</label>
            <input type="text" placeholder="password" name="password" class="form-control">
        </div>
    </form>
</body>
</html>